
@{
    ViewBag.Title = "IndexReputationReclamation";
    Layout = "~/Views/Shared/EspaceParent.cshtml";
}

<h2>
    IndexReputationReclamation
    @Html.ActionLink("View reputation per reclamation", "../Reclamations/IndexReputationReclamation" + new { idReclamation = 1 }+"/"+ new { idKinderGarten = 1 })
</h2>

