@model IEnumerable<PI4SAE.Models.User>

@{
    ViewBag.Title = "IndexMaps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Join our office</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6385.75683637491!2d10.189470675696393!3d36.84538776975721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c633822983%3A0x815ce59e88baf537!2sYasmine%20Tower%2C%20Boulevard%20de%20la%20Terre%2C%20Tunis!5e0!3m2!1sfr!2stn!4v1619349651666!5m2!1sfr!2stn" width="1500" height="450" style="border:2;" allowfullscreen="" loading="lazy"></iframe>

